html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.btn-download span, .btn-download .icon {
	color: white;
}

.btn-download span:nth-child(2) {
	margin-left: 1em;
}
